<form [formGroup]="listForm" class="list-create-container">
  <h1>Nueva Lista</h1>

  <div class="form-group">
    <label for="nameList">Nombre de la lista</label>
    <input
      id="nameList"
      formControlName="nameList"
      type="text"
      placeholder="Nombre de la lista..."
    />
  </div>

  <div class="form-group">
    <label for="descriptionList">Descripción</label>
    <textarea
      id="descriptionList"
      formControlName="descriptionList"
      placeholder="Añade una descripción..."
    ></textarea>
  </div>

  <div class="action-buttons">
    <button class="save-btn" [routerLink]="'/dashboard'" (click)="createList()">
      GUARDAR
    </button>
    <button class="cancel-btn" [routerLink]="'/dashboard'">CANCELAR</button>
  </div>

  <label for="movieSearch">Añadir película</label>
  <div class="search-controls">
    <input
      id="movieSearch"
      class="search-movie-input"
      formControlName="title"
      type="text"
      placeholder="Ingresa nombre de película..."
    />
    <button class="add-film-btn" (click)="searchMovie()">
      BUSCAR PELÍCULA
    </button>
  </div>

  <div class="movie-list">
    <div class="movie-grid">
      <div
        *ngFor="let movie of movies"
        [ngClass]="{ selected: isMovieSelected(movie) }"
        class="movie-item"
        (click)="onSelectMovie(movie)"
      >
        <div class="movie-card">
          <img [src]="getImageUrl(movie.poster_path)" alt="{{ movie.title }}" />
          <div class="movie-info">
            <h5 class="movie-title">{{ movie.title }}</h5>
            <p class="movie-year">{{ movie.release_date | date: 'yyyy' }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>