<div class="container list-details-container">
  <h2 class="list-title">
    {{ list?.nameList }} de: "{{ this.list?.owner?.name }}"
  </h2>
  
  <p class="list-description">{{ list?.descriptionList }}</p>
  
  <div class="row movies-container">
    <div 
      *ngFor="let content of list?.contents" 
      class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center movie-card"
      [routerLink]="['/movie/', content.id]"
      title="{{ content.title }}"
    >
      <div class="card">
        <img class="card-img-top" [src]="getImageUrl(content.poster_path)" [alt]="content.title" />
        <div class="movie-overlay d-flex align-items-center justify-content-center">
          <p class="movie-title">{{ content.title }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
