<div class="carousel-container">
  <h2>{{ title }}</h2>
  <div class="carousel-buttons">
    <button (click)="scrollLeft()">&#9664;</button> <!-- Botón izquierdo -->
  </div>
  <div class="carousel carousel-{{ idCarrusel }}">
    <div *ngFor="let movie of movies" class="carousel-item">
      <a [routerLink]="['/movie', movie.id]">
        <img [src]="getImageUrl(movie.poster_path)" alt="{{ movie.title }} poster">
        <p>{{ movie.title }}</p>
      </a>
    </div>
  </div>
  <div class="carousel-buttons">
    <button (click)="scrollRight()">&#9654;</button> <!-- Botón derecho -->
  </div>
</div>
