

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.row {
  margin: 0 auto;
}

.card {
  background-color: #62455b;
  border: 1px solid #444;
  padding: 12px;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 0 auto;
}

.card:hover {
  background-color: #141827;
  transform: translateY(-3px);
}

.card-title {
  color: white;
  font-size: 18px;
  text-align: center;
}

.card-text {
  color: white;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}



.d-flex {
  display: flex;
  justify-content: center;
}

.me-2 {
  margin-right: 10px;
}
