

<div *ngIf="resultados.length > 0; else noResults">
  <div *ngFor="let rango of resultados" class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ rango.nameRango }}</h5>
          <p *ngIf="rango.descriptionRango">{{ rango.descriptionRango }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noResults>
  <p>No se encontraron rangos con ese nombre</p>
</ng-template>
