<div class="container">
    <h1>Editar Rango Cinefilo</h1>
    <form *ngIf="rangoCinefilo" (ngSubmit)="guardarCambios()">
      <div class="form-group">
        <label>Nombre:</label>
        <input [(ngModel)]="rangoCinefilo.nameRango" name="nombre" class="form-control" required>
      </div>
      <div class="form-group">
        <label>Descripción:</label>
        <input [(ngModel)]="rangoCinefilo.descriptionRango" name="descripcion" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
      <button type="button" class="btn btn-secondary" (click)="router.navigate(['/search/rangoCinefilo'])">Cancelar</button>
    </form>
  </div>
  
