
ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto; 
  max-width: 600px; 
}

li {
  background-color: #62455b; 
  border: 1px solid #444; 
  margin-bottom: 15px;
  padding: 15px; 
  border-radius: 8px; 
  transition: background-color 0.3s, transform 0.3s; 
  
}

li:hover {
  background-color: #141827; 
  transform: translateY(-3px); 
}

li a {
  text-decoration: none;
  color: white; 
  font-weight: bold;
  display: block;
  text-align: center;
}

