<app-search></app-search>

<div class="container mt-4">
  <div *ngIf="users.length > 0">
    <ul class="list-group">
      <li *ngFor="let user of users" class="list-group-item d-flex justify-content-between align-items-center">
        <a [routerLink]="['/user-profile', user.id]" class="text-decoration-none text-white w-100">
          {{ user.name }}
        </a>
      </li>
    </ul>
  </div>

  <div *ngIf="users.length === 0 && query">
    <p class="text-white text-center mt-4">No users found for "{{ query }}"</p>
  </div>
</div>
