.custom-alert-warning {
  background-color: #ffdfba;
  color: #6c757d;
}

.custom-card {
  background-color: #ffffff;
  border-color: #c0c0c0;
}

.custom-card-header {
  background-color: #62455b;
  color: #ffffff;
}

.custom-btn-primary:hover,
.custom-btn-success:hover,
.custom-btn-info:hover {
  opacity: 0.85;
}
