<div class="container mt-4">
    <h3 class="mb-4">Reseñas para {{ nameContent }}</h3>
  
    <!-- Formulario para enviar una reseña -->
    <form (ngSubmit)="sendReview()" class="mb-4">
      <div class="mb-3">
        <label class="form-label">Calificación:</label>
        <div class="rating">
          <span *ngFor="let r of [1, 2, 3, 4, 5]" 
                class="star" 
                [ngClass]="{'filled': rating >= r}" 
                (click)="setRating(r)">
            ★
          </span>
        </div>
      </div>
      
      
  
      <div class="mb-3">
        <label for="description" class="form-label">Descripción:</label>
        <textarea [(ngModel)]="description" name="description" id="description" class="form-control" rows="3" placeholder="Escribe tu reseña aquí..."></textarea>
      </div>
  
      <button type="submit" class="btn btn-primary">Enviar Reseña</button>
    </form>
  
    <!-- Lista de reseñas -->
    <div *ngIf="reviewsToDisplay.length > 0; else noReviews" class="list-group">
      <div *ngFor="let review of reviewsToDisplay" class="list-group-item">
        <h5 class="mb-1">Calificación: {{ review.rating }}/5</h5>
        <p class="mb-1">{{ review.description || 'Sin descripción' }}</p>
        <small>Reseña por {{ review.reviewOwner.name }}</small>
  
        <!-- Lista de comentarios para cada reseña -->
        <div *ngIf="review.comments && review.comments.length > 0" class="mt-3">
          <h6>Comentarios:</h6>
          <ul class="list-group">
            <li *ngFor="let comment of review.comments" class="list-group-item">
              {{ comment.comment }} - <small>{{ comment.commentOwner.name }}</small>
            </li>
          </ul>
        </div>
        <app-review-comment-form [idContent]="idContent" [review]="review" ></app-review-comment-form>
      </div>
    </div>
  
    <!-- Mensaje en caso de que no haya reseñas -->
    <ng-template #noReviews>
      <p>No hay reseñas publicadas para esta pelicula.</p>
    </ng-template>
  </div>
  