<app-search></app-search>
<div *ngIf="movies.length > 0; else noMovies">
  <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <div *ngFor="let movie of movies" class="col">
      <div class="card h-100 d-flex flex-column">
        <img
          [src]="getImageUrl(movie.poster_path)"
          class="card-img-top img-fluid"
          alt="{{ movie.title }}"
        />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-center">{{ movie.title }}</h5>
          <!-- si el size es sm no se muestra el overview -->
          <p class="card-text text-center d-none d-sm-block">
            {{ getShortOverview(movie.overview) }}
          </p>
          <div class="mt-auto">
            <a [routerLink]="['/movie', movie.id]" class="btn btn-primary w-100"
              >Detalles...</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noMovies>
  <p>No se encontraron peliculas con ese titulo</p></ng-template
>
