
<app-search></app-search>
<div *ngIf="movies.length > 0;else noMovies">

    <div  *ngFor="let movie of movies" class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <a [routerLink]="['/movie', movie.id]">
            <img [src]="getImageUrl(movie.poster_path)" alt="{{ movie.title }} poster">
            <div class="card-body">
              <h5 class="card-title">{{ movie.title }}</h5>
            </div>
            </a>
          </div>
        </div>
    </div>
</div>
<ng-template #noMovies>
    <p>No se encontraron peliculas con ese titulo</p>