<p *ngIf="!review"> no hay reseña</p>
<div *ngIf="review">
    
<form (ngSubmit)="sendComment(review.reviewOwner.id)" class="commentingArea">
    <div class="mb-3">
      <label for="comment" class="form-label">Comentario:</label>
      <textarea [(ngModel)]="comment" 
                name="comment" 
                id="comment" 
                class="form-control" 
                rows="1" 
                placeholder="Escribe tu comentario aquí..."
                required>
      </textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Comentar</button>
  </form>
  

</div>

