<div class="lists-container">
    <div *ngFor="let list of lists" class="list-item" [routerLink]="['/lists/', list.id]">
      <div class="list-info">
        <div class="list-thumbnail">
          <img *ngFor="let content of list.contents.slice(0, 12)" class="thumbnail-img" [src]="getImageUrl(content.poster_path)" alt="{{ content.title }}">
          <img *ngIf="list.contents.length > 3" class="thumbnail-placeholder" src="path-to-placeholder" alt="More movies">
        </div>
        <div class="list-details">
          <h3 class="list-title">{{ list.nameList }}</h3>
          <span class="list-count">{{ list.contents.length }} películas</span>
          <p class="list-description">{{ list.descriptionList }}</p>
        </div>
      </div>
    </div>
  </div>
  