<div class="container mt-4">
  <h2 class="text-center mb-4">Gestionar Sugerencias</h2>

  <!-- Listado de sugerencias -->
  <div *ngFor="let suggestion of suggestions" class="card mb-3 shadow">
    <div class="card-body">
      <h5 class="card-title">
        {{ suggestion.titleSuggestion }}
        <span class="badge bg-secondary">{{ suggestion.estado }}</span>
      </h5>
      <p class="card-text">{{ suggestion.description }}</p>

      <!-- Botón para mostrar/ocultar el campo de revisión -->
      <button
        class="btn btn-primary"
        type="button"
        data-bs-toggle="collapse"
        [attr.data-bs-target]="'#collapse-' + suggestion.id"
        aria-expanded="false"
      >
        Revisar
      </button>

      <!-- Campo de texto y botones aceptar/rechazar -->
      <div class="collapse mt-3" [id]="'collapse-' + suggestion.id">
        <div class="form-group">
          <label for="adminComment-{{ suggestion.id }}"
            >Comentario del Administrador</label
          >
          <textarea
            class="form-control"
            [(ngModel)]="adminComment"
            id="adminComment-{{ suggestion.id }}"
            rows="3"
            placeholder="Escribe un comentario..."
          ></textarea>
        </div>

        <div class="mt-3">
          <button
            class="btn btn-success me-2"
            (click)="
              acceptSuggestion(suggestion.id, {
                admin: this.admin ?? -1,
                comentarioAdmin: adminComment,
                estado: 'aceptado'
              })
            "
          >
            Aceptar
          </button>
          <button
            class="btn btn-danger"
            (click)="
              rejectSuggestion(suggestion.id, {
                admin: this.admin ?? -1,
                comentarioAdmin: adminComment,
                estado: 'rechazado'
              })
            "
          >
            Rechazar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
