<div class="container">
  <h1>Resultados de Subscripción</h1>
  <div class="row justify-content-center">
      <div *ngIf="results.length > 0; else noResults">
          <div *ngFor="let result of results" class="col-12 col-md-4 mb-3">
              <div class="card text-center">
                  <div class="card-body">
                      <h5 class="card-title">{{ result.name }}</h5>
                      <p class="card-text">Cantidad Semanal: {{ result.cantidadSem }}</p>
                      <div class="d-flex justify-content-center"> 
                          <button (click)="editarSubscription(result)" class="btn btn-primary me-2">Editar</button>
                          <button (click)="eliminarSubscription(result.id)" 
                                  class="btn btn-danger" 
                                  [disabled]="result.id === 1">Eliminar</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <ng-template #noResults>
      <p>No se encontraron suscripciones con ese nombre</p>
  </ng-template>
</div>
