:host {
  display: block;
  padding: 20px;
  background: linear-gradient(135deg, #141827 0%, #1e2230 100%);
  color: white;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.col-12 {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.card {
  background-color: #62455b;
  border: 1px solid #444;
  padding: 15px;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  width: 100%;
}

.card:hover {
  background-color: #141827;
  transform: translateY(-3px);
}

.card-title {
  color: white;
  font-size: 18px;
  text-align: center;
}

.card-text {
  color: white;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}

p {
  color: white;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}

.d-flex {
  display: flex;
  justify-content: center;
}

.me-2 {
  margin-right: 10px; 
}
