<p>Eidtar usuario {{this.name}}</p>
<button [routerLink]="'/home'" (click)="userDelete()" >Eliminar cuenta</button>
<form [formGroup]="editForm">
    <div class="mb-3">
      <label for="InputText1" class="form-label">Nombre de usuario</label>
      <input formControlName="name" type="text" class="form-control" id="exampleInputText1" placeholder="CineFan23">
      <div *ngIf="name && name.invalid && (name.dirty || name.touched)" class="text-danger">
        <div *ngIf="name && name.errors?.['required']">El nombre es requerido.</div>
      </div>
  
      <label for="InputEmail1" class="form-label">Correo</label>
      <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="correo@gmail.com">
      <div *ngIf="email && email.invalid && (email.dirty || email.touched)" class="text-danger">
        <div *ngIf="email && email.errors?.['required']">El email es requerido.</div>
        <div *ngIf="email && email.errors?.['email']">El formato no es correcto.</div>
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary" [routerLink]="'/dashboard'" (click)="userUpdate()">Guardar Cambios</button>
    <button type="button" class="btn btn-secondary" [routerLink]="'/dashboard'">Cancelar</button>
  </form>


  