<app-search></app-search>
<div *ngIf="lists.length > 0; else noLists">
      <div *ngFor="let list of lists" class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <a [routerLink]="['/lists', list.id]">
                <h5 class="card-title">{{ list.nameList }}</h5></a>
                <p *ngIf="list.description">{{ list.description }}</p>
                
                <ul>
                  <li *ngFor="let item of list.items">{{ item }}</li>
                </ul>
              </div>
            </div>
          </div>
      </div>
  </div>
  <ng-template #noLists>
      <p>No se encontraron listas con ese nombre</p>
  </ng-template>
  