<div class="modal-background" (click)="closeModal()"></div>
<div class="modal-content">
  <span class="close" (click)="closeModal()">&times;</span>
  <h2>Agregar '{{ movieTitle }}' a la lista</h2>

  <div class="list-actions">
    <button [routerLink]="['/createList', movieId]" class="new-list-btn">+ Nueva lista</button>
  </div>

  <div class="existing-lists">
    <div 
      *ngFor="let list of lists"
      class="list-item"
      [class.selected]="selectedList === list" 
      (click)="selectList(list)"
    >
      <span>{{ list.nameList }}</span>
    </div>
  </div>

  <button class="add-btn" (click)="addContent()">AÑADIR</button>
</div>
