<h2>Datos de la Pelicula</h2>

<div *ngIf="movie; else noMovie">
    <ul>
        <li routerLink="['/users',user.id]">
            <img src="{{imageUrl}}" alt="Imagen de la pelicula" />
        <li>
            <strong>Id: </strong> {{movie.id}}
        </li>
        <li>
            <strong>Titulo: </strong> {{movie.title}}
        </li>
        <li >
            <strong>Genero: </strong> {{genreString}}
        </li>
        <li>
            <strong>Pais de origen: </strong> {{movie.origin_country}}
        </li>
        <li>
            <strong>Fecha de lanzamiento: </strong> {{movie.release_date}}
        </li>
        <li>
            <strong>Idioma original: </strong> {{movie.original_language}}
        </li>
        <li>
            <strong>Sinopsis: </strong> {{movie.overview}}
        </li>
    </ul>
    <app-review [idContent]="movieId" [nameContent]="movie.title"></app-review>
</div>



<ng-template #noMovie>
    <p>Pelicula no encontrada</p>
</ng-template>