<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>
<div class="container-fluid">
  <div class="container pt-5">
    <h2 class="text-center">Crear Nueva Subscripción</h2>
    <form
      (ngSubmit)="onSubmit()"
      #subscriptionForm="ngForm"
      class="subscription-form"
    >
      <div class="form-group">
        <div class="form-group row">
          <label
            for="name"
            class="col-form-label col-12 col-md-4 text-white font-weight-bold"
            >Nombre:</label
          >
          <div class="col-12 col-md-8">
            <input
              type="text"
              id="name"
              [(ngModel)]="subscription.name"
              name="name"
              class="form-control"
              placeholder="Ruby"
              required
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-group row">
          <label
            for="cantidadSem"
            class="col-form-label col-12 col-md-4 text-white font-weight-bold"
            >Cantidad Semanal:</label
          >
          <div class="col-12 col-md-8">
            <input
              type="number"
              id="cantidadSem"
              [(ngModel)]="subscription.cantidadSem"
              name="cantidadSem"
              class="form-control"
              placeholder="5"
              required
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-group row">
          <label
            for="precio"
            class="col-form-label col-12 col-md-4 text-white font-weight-bold"
            >Precio:</label
          >
          <div class="col-12 col-md-8">
            <input
              type="number"
              id="precio"
              [(ngModel)]="subscription.precio"
              name="precio"
              class="form-control"
              placeholder="100"
              required
            />
          </div>
        </div>
      </div>
      <div class="text-center">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!subscriptionForm.form.valid"
        >
          Crear Subscripción
        </button>
      </div>
    </form>
  </div>
</div>
