<div class="card" style="width: 18rem">
  <img
    src="https://via.placeholder.com/150"
    class="card-img-top"
    alt="Product Image"
  />
  <div class="card-body">
    <h5 class="card-title">Premium</h5>
    <p class="card-text">hace todas las reseñas y listas que se te canten</p>
    <div class="button-container">
      <button
        id="checkout-btn"
        (click)="redirectToMpUrl()"
        [disabled]="mpUrl == null"
      >
        <span *ngIf="mpUrl != null"> Comprar:10000</span>
        <span
          class="spinner-border spinner-border-sm"
          aria-hidden="true"
          *ngIf="mpUrl == null"
        ></span>

        <span role="status" *ngIf="mpUrl == null">Cargando...</span>
      </button>
    </div>
  </div>
</div>
